/* HomePage.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homePage {
    padding: 20px;
  }
  .tabs {
    display: flex;
    justify-content: space-around;
     margin: 20px 0;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
  }
  .tab:hover {
    background-color: #555;
  }

  .tab.active {
    background-color: #ccc;
    font-weight: bold;
  }